<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&family=Oleo+Script&family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap" rel="stylesheet">
    <title>Spending Tracker</title>
</head>
<body>
    <header>
        <section class="head-block">
            <div class="head-logo">
                <h1><a href="/">SpenTrack</a></h1>
            </div>
            <nav>
                <ul class="head-list">
                    {% if login %}
                        <li id="username">jeremy_e51</li>
                        <li><a href="/">Sign Out</a></li>
                    {% else %}
                        <li id="sign-in"><a href="/jeremy_e51">Sign In</a></li>
                        <li><a href="/">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </section>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <section class="footer-block">
            <div>
                <div>SpenTrack ©</div>
                <div>
                    <p>2021-2021 JEREMY individual contributor.</p>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>