{% extends 'base.html' %}

{% block content %}
<main class="main-class">
    <section class="tabs-block">
        <ul class="tabs">
            <a href="/jeremy_e51" id="tab-transaction"><li>Transactions</li></a>
            <a href="/jeremy_e51/merchants" id="tab-merchant"><li>Merchants</li></a>
            <a href="/jeremy_e51/tags" id="tab-tag"><li>Tags</li></a>
        </ul>
    </section>
    <article id="merchants-block">
        <section class="merchants-head">
            {% if new_cancel != 1 %}
            <div class="merchant-new">
                <a href="/jeremy_e51/merchants/new"><button class="merchant-new-btn">New</button></a>
            </div>
            {% endif %}
            {% block merchant_new %}
            {% endblock %}
        </section>
        {% block merchant_show %}
        {% endblock %}
        <section class="merchant-items">
        {% for merchant in merchants %}
        <a href="/jeremy_e51/merchants/{{merchant.id}}">
            <div class="merchant-container">
                <div class="merchant-title">{{ merchant.name }}</div>
                <div class="merchant-price">Total: £ {{ merchant.total }}</div>
            </div>
        </a>
        {% endfor %}
        </section>
    </article>
<main>
{% endblock %}
