{% extends 'base.html' %}

{% block content %}
    <article id="transactions-block">
    <h2><b>Available balance:</b> £ {{ 1000 - total }}</h2>
    <h3><b>Transactions total:</b> £ {{ total }}</h3>
    {% if new_cancel != 1 %}
        <a href="/jeremy_e51/new"><button>New</button></a>
    {% endif %}
    {% block transaction_new %}
    {% endblock %}
    <div class="transactions">
    {% for transaction in transactions %}
                <div class="transaction">
                    <h4>{{ transaction.date }}</h4>
                    <p>£ {{ transaction.amount }}</p>
                    <a href="/jeremy_e51/{{ transaction.id }}">
                    <p>{{ transaction.name }}</p>
                    <p>{{ transaction.description }}</p>
                    </a>
                    {% if transaction.merchant != None %}
                        <p>
                            {{ transaction.merchant.name }}
                        </p>                    
                    {% else %}
                        <p>
                            None
                        </p>
                    {% endif %}
                    {% if transaction.tag != None %}
                        <p>
                            {{ transaction.tag.name }}
                        </p>    
                    {% else %}
                        <p>
                            None
                        </p>
                    {% endif %}
                    {% if transaction.merchant == None or transaction.tag == None %}
                        <a href="/jeremy_e51/{{ transaction.id }}/edit"><button>Assign</button></a>    
                    {% endif %}
                </div>
    {% endfor %}
    </div>
    </article>
{% endblock  %}