{% extends 'transactions/index.html' %}

{% block transaction_new %}
    <form action="/jeremy_e51" method="POST">
        <section class="new-section">
            <section class="input-margin">
                <div>
                    <div class="new-input-flex">
                        <label for="name">Name :</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="new-input-flex">
                        <label for="amount">Amount :</label>
                        <input type="number" name="amount" id="amount" required>
                    </div>
                    <div class="new-input-flex">
                        <label for="date">Date :</label>
                        <input type="date" name="date" id="date" required>
                    </div>
                </div>
                <div class="new-input-flex">
                    <label for="description">Description :</label>
                    <textarea id="description" name="description" cols="40" rows="5" required></textarea>
                </div>
            </section>
            <div class="new-btn-block">
                <button class="add-btn">Add</button>
                <a href="/jeremy_e51" class="new-cancel-button">Cancel</a>
            </div>
        </section>
    </form>
{% endblock  %}